<p><em>This article is copyright © Vertbyqb 2021 and is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></em></p>
<p>Most people reading this have probably hear of Tor by now. It’s a network that relays traffic between servers around the world to anonymize its users. This is what is known as a darknet, and Tor is just one of the different darknets that exist (Tor has become so well known that some use “darknet” to refer to Tor). One of the other darknets available is <a href="https://en.wikipedia.org/wiki/I2P">I2P</a>, or the Invisible Internet Project, which is what I’m talking about in this article. There are plenty of other darknets available, and I may try some of them in the future, but this article is dedicated to I2P.</p>
<p>Probably the greatest difference between I2P and Tor is that in I2P <em>everyone</em> is a node. On Tor you just send your traffic to certain known nodes, but on I2P you are also helping carry others’ traffic through the I2P network. I2P is also less focused on allowing users to connect to the normal Internet. You can do this, through what is known as an outproxy, but there are very few of these and most browsing on I2P stays on I2P.</p>
<p>Another difference is I2P does not come with a browser bundle like Tor does, you have to set up a proxy manually. One reason for this is that I2P is less focused on HTTP. With Tor you can use different protocols, but it’s not very common. On I2P different protocols are common, IRC and Bittorrent (which is recommended against using on Tor) are two common examples. Also, since everyone is a node there’s a reason to leave I2P on when you’re not browsing it.</p>
<h1 id="getting-on-i2p">Getting on I2P</h1>
<p>Although connecting to I2P is harder than connecting to Tor, it’s still pretty easy to do. First you will need to chose a client. The <a href="https://geti2p.net/en/download">official client</a> is written in Java, but there is also <a href="https://i2pd.website/">i2pd</a>, written in C++, which is what I will be using in this tutorial.</p>
<p>One more thing, you may want to set up i2pd on a separate device to run all the time if you use it somewhat often. I use a Raspberry Pi, but you could use any computer that can stay on for most of the day. Do keep in mind this is entirely optional though, you can run I2P on your main machine with no negative side-effects, you just won’t be contributing as much to the I2P network</p>
<h2 id="setting-up-i2pd">Setting up i2pd</h2>
<p>First you will need to install i2pd. If you use an Arch GNU+Linux based distribution (like <a href="https://www.parabola.nu/">Parabola</a>) you can find it as <code>i2pd</code> in the main Arch Linux community repository. On Debian-based systems you may want to <a href="https://i2pd.readthedocs.io/en/latest/user-guide/install/#debian">add the i2pd repository</a> to install it. It is available in the main Debian repositories, but it’s very out-of-date (as is usual). For any other systems you can find instructions <a href="https://i2pd.readthedocs.io/en/latest/user-guide/install/">here</a>.</p>
<p>Now it’s time for <a href="https://i2pd.readthedocs.io/en/latest/user-guide/configuration/">configuration</a>. The main configuration file should be at <code>/etc/i2pd/i2pd.conf</code>. This file accepts INI-like syntax, see link for exceptions, or you could just start editing the file, it’s quite self-explanatory. First I will edit the Web Console settings, down in the <code>http</code> section. If you are running this on your main machine you won’t need this.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ini"><code class="sourceCode ini"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="kw">[http]</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="dt">address </span><span class="ot">=</span><span class="st"> &lt;LOCAL IP ADDRESS&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a><span class="dt">port </span><span class="ot">=</span><span class="st"> </span><span class="dv">7070</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a><span class="dt">auth </span><span class="ot">=</span><span class="st"> </span><span class="kw">true</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a><span class="dt">user </span><span class="ot">=</span><span class="st"> i2pd</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a><span class="dt">pass </span><span class="ot">=</span><span class="st"> ins3curepAs5w0rd</span></span></code></pre></div>
<p>From the default configuration I have changed the <code>address</code> value to the IP of the device on my local network. This is necessary to be able to access this from other machines on your local network. I also added <code>auth = true</code> and a username and password. This is so other devices on the local network can’t access the web console without a password. If you are the only one on your local network you can delete this.</p>
<p>Next I changed the <code>httpproxy</code> section, which sets up the HTTP proxy. This will be needed for browsing normal HTTP I2P sites, so it’s important to get right.</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ini"><code class="sourceCode ini"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="kw">[httpproxy]</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a><span class="dt">address </span><span class="ot">=</span><span class="st"> &lt;SAME LOCAL IP ADDRESS&gt;</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a><span class="dt">port </span><span class="ot">=</span><span class="st"> </span><span class="dv">4444</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a><span class="dt">outproxy </span><span class="ot">=</span><span class="st"> http://purokishi.i2p</span></span></code></pre></div>
<p>Here I just changed the <code>address</code> value for the same reason I did in the <code>http</code> section. I also added the address of an outproxy. This is where I2P will route any addresses not on the I2P network to. So for example, one could navigate to <code>https://gnu.org</code> and it would take the traffic through I2P, to <code>purokishi.i2p</code>, and out on the normal Internet to <code>gnu.org</code>.</p>
<p>And that’s it! If you are running it on a separate machine and don’t need any outproxies then the default configuration is fine. Now we can move on to starting i2pd and actually connecting to I2P!</p>
<h2 id="running-i2pd">Running i2pd</h2>
<p>To run i2pd you probably want to run it as a system daemon (hence the name - i2p<strong>d</strong>). This is easy to do. The systemd service script will automatically install with i2pd, and Artix’s <code>galaxy</code> repository provides additional service scripts for Dinit, OpenRC, runit, s6, and Suite66. I will cover systemd and OpenRC, but for any other init systems it should be as simple as adding and starting the <code>i2pd</code> service.</p>
<p>To add and start i2pd with OpenRC, run the following commands as root:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="ex">rc-update</span> add i2pd default</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a><span class="ex">rc-service</span> i2pd start</span></code></pre></div>
<p>For systemd run these commands as root:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="ex">systemctl</span> enable i2pd.service</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a><span class="ex">systemctl</span> start i2pd.service</span></code></pre></div>
<p>Now you can connect to the machine on port 7070 and you should hopefully see a page that says “i2pd webconsole”.</p>
<p><em>Note: from here on out it is assumed that if you make a change to one of the configuration files you should restart the service to apply the change. OpenRC and systemd both accept the <code>restart</code> command in place of the <code>start</code> command to restart the service.</em></p>
<h2 id="configuring-a-web-browser">Configuring a Web Browser</h2>
<p>Now that you are connected to I2P you will need something to browse it with. In the configuration we set up the HTTP proxy, so you can just proxy <a href="https://www.gnu.org/software/gnuzilla/">your favorite web browser</a> to that and you can start browsing I2P.</p>
<p>Hold up though, before you do that you should create a separate browser profile. If you use your normal browser and didn’t set up a outproxy you won’t be able to connect to all your usual websites, and if you did set it up it will still be unbearably slow.</p>
<p>Luckily this is pretty easy to do in Firefox-based browsers (that is what I use, if you’d like to submit instructions on how to set up profiles and proxies on other browsers please contact me). Just go to <code>about:profiles</code>, click <code>Create a New Profile</code>, click <code>Next</code>, enter a profile name (I suggest <code>I2P</code>), and click <code>Finish</code>. This will create the new profile we will use for browsing I2P. Somewhat annoyingly it also sets new profiles to be the default profile, so (unless you want to browse I2P all the time) click the <code>Set as default profile</code> button on your previously default profile (it should say “This is the profile in use and it cannot be deleted”).</p>
<p>To launch this new profile click the <code>Launch profile in new browser</code> button. Go to <code>about:preferences</code> and click the <code>Settings...</code> button in Network Settings at the bottom of the General tab. Here you should click the <code>Manual proxy configuration</code> button and enter the IP and port (<code>4444</code> by default) of the machine i2pd is running on. If it is running on your local machine, put in <code>localhost</code> (or <code>127.0.0.1</code>) as the IP. You should also check the <code>Also use this proxy for FTP and HTTPS</code> box and add the IP of the machine i2pd is running on to the <code>No proxy for</code> box, if it’s running on a separate machine.</p>
<p>Now we finally have a web browser that can view HTTP I2P sites! You may also want to make a shortcut to launch your I2P browser easier. In Firefox you can add the <code>-P</code> flag with the name of the profile you created to launch that profile, so to launch <a href="https://www.gnu.org/software/gnuzilla/">GNU Icecat</a> in the <code>I2P</code> profile you would run: <code>icecat -P I2P</code>. You can use that to create a script or desktop file that will run it for you, but that’s beyond the scope of this tutorial.</p>
<p><em>Note: On Firefox-based browsers you might want to set <code>keyword.enabled</code> to <code>false</code> in <code>about:config</code> to make it easier to manually go to <code>.i2p</code> domains, otherwise it will try to search them.</em></p>
<h2 id="useful-i2p-sites">Useful I2P sites</h2>
<ul>
<li>http://identiguy.i2p/ - a list of known I2P sites. You can use this to find new I2P sites or even submit your own I2P site so others can discover it.</li>
<li>http://i2p-projekt.i2p - the I2P site version of the main I2P website.</li>
<li>http://legwork.i2p/ - an I2P search engine</li>
<li>http://0xff.i2p/ - a file sharing and URL shortening service based on 0x0.st with no restrictions other than the file size.</li>
</ul>
<h2 id="note-about-i2p-sites">Note about I2P sites</h2>
<p>I2P sites (previously called eepsites) come in two versions, the human-readable version and the b32 version. All I2P sites will have a b32 version, but some sites will also get a human-readable version that’s easy to memorize. As the I2P project says it <a href="https://geti2p.net/en/faq#subscriptions">on the FAQ</a>:</p>
<blockquote>
<p>Human-readable addresses such as http://website.i2p are references to a long, random string known as a destination. These references are registered and stored at address book services such as stats.i2p, which is run by zzz. You will often encounter a “b32” address. A “b32” is a hash (specifically, a SHA256 hash) of the destination. This hash is appended with “.b32.i2p” and serves as a convenient way to link to your hidden service, without requiring any registration on an address book service.</p>
</blockquote>
<p>Also, all HTTP I2P sites run plain HTTP. The encryption automatically included in I2P is sufficient to hide communications, there’s no need for the additional encryption of HTTPS.</p>
<h1 id="beyond-http">Beyond HTTP</h1>
<p>So far I have covered how to get i2pd running and connect a browser to it’s HTTP proxy. But as I mentioned before I2P is way more than just HTTP. This is more advanced than setting up HTTP and not everyone will need it, but it’s here if you want it.</p>
<p><em>I was going to have a section on setting up Bittorrent here but I could not figure it out and that was basically all that was holding me back from releasing this article. If I figure it out I might make another article on it.</em></p>
<h2 id="irc">IRC</h2>
<p>To set up IRC you will need to open the <code>/etc/i2pd/tunnels.conf</code> file. This file has a set of tunnels that can either link an I2P site to a local IP and port, or link a local IP and port to an I2P site (more on that later). For now though you can just uncomment the <code>IRC-ILITA</code> and <code>IRC-IRC2P</code> blocks, changing the address if necessary:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode ini"><code class="sourceCode ini"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="kw">[IRC-ILITA]</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a><span class="dt">type </span><span class="ot">=</span><span class="st"> client</span></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a><span class="dt">address </span><span class="ot">=</span><span class="st"> &lt;LOCAL IP ADDRESS&gt;</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a><span class="dt">port </span><span class="ot">=</span><span class="st"> </span><span class="dv">6668</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a><span class="dt">destination </span><span class="ot">=</span><span class="st"> irc.ilita.i2p</span></span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a><span class="dt">destinationport </span><span class="ot">=</span><span class="st"> </span><span class="dv">6667</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a><span class="dt">keys </span><span class="ot">=</span><span class="st"> irc-keys.dat</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a><span class="kw">[IRC-IRC2P]</span></span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true" tabindex="-1"></a><span class="dt">type </span><span class="ot">=</span><span class="st"> client</span></span>
<span id="cb5-11"><a href="#cb5-11" aria-hidden="true" tabindex="-1"></a><span class="dt">address </span><span class="ot">=</span><span class="st"> &lt;LOCAL IP ADDRESS&gt;</span></span>
<span id="cb5-12"><a href="#cb5-12" aria-hidden="true" tabindex="-1"></a><span class="dt">port </span><span class="ot">=</span><span class="st"> </span><span class="dv">6669</span></span>
<span id="cb5-13"><a href="#cb5-13" aria-hidden="true" tabindex="-1"></a><span class="dt">destination </span><span class="ot">=</span><span class="st"> irc.postman.i2p</span></span>
<span id="cb5-14"><a href="#cb5-14" aria-hidden="true" tabindex="-1"></a><span class="dt">destinationport </span><span class="ot">=</span><span class="st"> </span><span class="dv">6667</span></span>
<span id="cb5-15"><a href="#cb5-15" aria-hidden="true" tabindex="-1"></a><span class="dt">keys </span><span class="ot">=</span><span class="st"> irc-keys.dat</span></span></code></pre></div>
<p>This will set up two IRC networks on I2P, ILITA and IRC2P. IRC2P seems to be more commonly used though, and it has the #i2p support room, so I suggest you start there. Obviously if you have no need for one of these IRC servers you can just keep it commented out.</p>
<p>Now all you need to do is connect to the IP address and port you specified above and it will mostly work like any other IRC network. One note, make sure you are NOT using SSL, it will not work trying to use SSL (again, further encryption is not needed as it’s all going through I2P).</p>
<h1 id="making-your-own-i2p-site">Making your own I2P site</h1>
<p>Once you have I2P running it’s actually very easy to set up an I2P site. Just like Tor there is no need for port forwarding to the outside Internet, as all traffic is going through I2P, and this actually makes it easier to run for some users than a conventional website.</p>
<p>First and foremost you must already have some server running on a defined IP and port. Again, I2P doesn’t really care what type of server this is. Once you have that, it’s as simple as adding a block to <code>/etc/i2pd/tunnels.conf</code>:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode ini"><code class="sourceCode ini"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="kw">[anon-website]</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a><span class="dt">type </span><span class="ot">=</span><span class="st"> http</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a><span class="dt">host </span><span class="ot">=</span><span class="st"> 127.0.0.1</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a><span class="dt">port </span><span class="ot">=</span><span class="st"> </span><span class="dv">80</span></span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a><span class="dt">keys </span><span class="ot">=</span><span class="st"> anon-website.dat</span></span></code></pre></div>
<p>This will forward the server running on port 80 of the local machine to I2P. The <code>type</code> specifies it as <code>http</code>, more types can be found <a href="https://i2pd.readthedocs.io/en/latest/user-guide/tunnels/#tunnel-types">here</a>. The section name will help you identify what the server’s b32 address is, so pick a fitting name for your service. Then just go to the webconsole, which should be at port 7070 of the IP address you are running i2pd on. Here you can click on the <code>I2P tunnels</code> tab, which will show you all the tunnels you set up in <code>tunnels.conf</code>, plus the proxies. Here in the “Server Tunnels” section there should be an entry with the name of the section you put in <code>tunnels.conf</code>, in my case <code>anon-website</code>, with a corresponding b32 link.</p>
<p>This next step is optional (and untested by me, I have no use for it yet), but you can get a human-readable, memorable address for your I2P site by registering it at <a href="http://inr.i2p/postkey/" class="uri">http://inr.i2p/postkey/</a>.</p>
